<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-black" style="height: 80px;">
    <div class="container-fluid d-flex align-items-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Tnea.png" alt="Logo" height="60" class="mr-3">
      <a class="navbar-brand fs-3 fw-bold text-center mx-auto">Engineering Seat Allocation 2024</a>
      <img src="https://www.nicepng.com/png/detail/944-9441929_anna-university-logo-png.png" alt="Logo" height="60"
        class="mr-3">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item me-lg-5">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item me-lg-5">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item me-lg-5">
            <a class="nav-link" href="/choice">Choice filling</a>
          </li>
          <li class="nav-item me-lg-5">
            <a class="nav-link" href="/faqs">FAQs</a>
          </li>
          <li class="nav-item me-lg-5">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item me-lg-5">
            <a class="nav-link" href="/signout/">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h2 class="text-center my-4"> Registration Form </h2>

  <form class="needs-validation" action="home" novalidate>
    <div class="container mb-3 my-4">
      <!-- notice -->
      <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="info-circle" width="1em" height="1em"
          fill="currentColor" aria-hidden="true">
          <path
            d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
          </path>
          <path
            d="M464 336a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm72 112h-48c-4.4 0-8 3.6-8 8v272c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V456c0-4.4-3.6-8-8-8z">
          </path>
        </svg>
        <div class="mx-3">
          Information entered here cannot be modified later. Please fill all fields correctly.
        </div>
      </div>
      <!-- name -->
      <div class="mb-3">
        <label for="validationCustom01" class="form-label">Candidate name</label>
        <input type="text" class="form-control" placeholder="Name" id="validationCustom01" required>
        <div class="form-text" id="basic-addon4">As in 10th/HSC mark sheet</div>
        <div class="invalid-feedback">
          Please enter your name.
        </div>
      </div>
      <!-- phone -->
      <div class="mb-3">
        <label for="validationCustom02" class="form-label">Mobile number</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">+91 </span>
          <input type="tel" class="form-control" placeholder="10-digit mobile number" id="validationCustom02"
            aria-describedby="inputGroupPrepend" required>
          <div class="invalid-feedback">
            Please enter mobile number.
          </div>
        </div>
      </div>
      <!-- mail -->
      <div class="mb-3">
        <label for="validationCustom03" class="form-label">Email address</label>
        <input type="text" class="form-control" placeholder="example@gmail.com" id="validationCustom03" required>
        <div class="invalid-feedback">
          Please provide a valid email id.
        </div>
      </div>
      <!-- dob -->
      <div class="mb-3">
        <label for="validationCustom04" class="form-label">Date of birth</label>
        <input type="date" class="form-control" placeholder="DD/MM/YYYY" id="validationCustom04" required>
        <div class="invalid-feedback">
          Please provide a valid date.
        </div>
      </div>
      <!-- password -->
      <div class="mb-3">
        <label for="validationCustom05" class="form-label">Password</label>
        <input type="password" id="validationCustom05" class="form-control" aria-describedby="passwordHelpBlock"
          required>
        <div id="passwordHelpBlock" class="form-text">
          Your password must be 8-20 characters long, containing letters, numbers, and special characters.
        </div>
        <div class="invalid-feedback">
          Please enter a password
        </div>
      </div>
      <!-- agree -->
      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            I hereby agree to the terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <!-- button -->
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>
  </form>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
  integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>